* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
}

/* Layout */

.container {
    padding: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fill-window {
    height: 100vh;
    width: 100vw;
}

/* Typography */

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.title__subtext {
    text-align: center;
}

@media screen and (max-width: 720px) {
    .title__subtext {
        max-width: 380px;
    }
}

@media screen and (max-width: 460px) {
    .title__subtext {
        text-align: left;
    }
}

/* Top Nav Component */

.top-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 130px;
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu__btn {
    border: 2px solid black;
    outline: none;
    background: none;
    padding: 16px;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}

.menu__btn:hover {
    background: black;
    color: white;
}

.menu__dropdown {
    width: 200px;
}

.menu__dropdown ul {
    padding: 0px;
    list-style: none;
    perspective: 1000px;
}

.menu__item {
    margin: 4px 0px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu__item a {
    display: block;
    padding: 16px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.menu__item a:hover {
    color: white;
}

.menu__item:hover {
    background: black;
    color: white;
}

.menu__item--hidden {
    display: none;
}

.show-menu {
    display: block;
    animation: show-menu 300ms ease-in-out forwards;
}

.hide-menu {
    animation: hide-menu 300ms ease-in-out forwards;
}

@keyframes show-menu {
    0% { 
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100% { 
        opacity: 1 ;
        transform: rotateY(0deg);
    }
}

@keyframes hide-menu {
    0% { 
        opacity: 1;
        transform: rotateY(0deg);
    }
    100% { 
        opacity: 0;
        transform: rotateY(-90deg);
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .top-nav {
        height: 80px;
        padding: 20px;
    }

    .menu {
        top: 20px;
    }
}